@import 'variables';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $main-color;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $container-width;
}
main {
  margin-bottom: 50px;
}
a {
  color: $main-color;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  border-radius: $border-radius;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}
select {
  padding: 10px 15px;
  appearance: none;
  background: #eee;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  outline: none;
}
.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}